*{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  width: 100vw;
  height: 100vh;
  background-color: #f8f8f8;
}

#container{
  border-width: 1.5px;
  border-style: solid;
  border-radius: 10px;
  border-color: #e8e9ee;
  background-color: white;
  width: 300px;
  height: 8rem;
  padding: 30px;
  display: grid;
  place-items: center; 
}

#title{
  color: #833AB4;
  margin-bottom: 5px;
}

#change, #hide{
  width: 90px;
  height: 30px;
  border-radius: 20px;
  border-width: 0px;
  background: linear-gradient(to right, #833AB4, #882dde);
  color: aliceblue;
  margin-top: 10px;
}

#change:hover,
#hide:hover{
  cursor: pointer;
  box-shadow: 0 0 15px rgba(76, 0, 81, 0.15);
}